NDVI_Maps_USEME/
L05_NDVI_2003_B3.tif
L05_NDVI_2003_B4.tif
L08_NDVI_2021_B4.tif
L08_NDVI_2021_B5.tif
LT05_2003_MTL.tif
LT08_2021_MTL.tif
NDVI_results/
L05_NDVI_results.tiff
L08_NDVI_results.tiff
L08_NDVI_results_.tiff
ndviimage.tiff
ndviimage2.tiff